<div class="container">
  <div class="columns">
    <div class="column is-half">
      <p class="title is-4">思い出のもの一覧</p>
    </div>
    <div class="column is-half">
      <p class="title is-4">説明</p>
    </div>
  </div>
</div>