<div class="container mx-auto">
  <div class="flex flex-nowrap"> <!-- flex-wrapを flex-nowrapに変更 -->
    <div class="flex-1 min-w-0" style="padding-left: 50px;"> <!-- 幅の指定を削除し、flex-1を追加 -->
      <p class="text-2xl font-semibold truncate">思い出のもの一覧</p> <!-- 必要に応じてテキストを省略 -->
    </div>
    <div class="flex-1 min-w-0" style="padding-left: 95.5px;"> <!-- 幅の指定を削除し、flex-1を追加 -->
      <p class="text-2xl font-semibold truncate">投稿</p> <!-- 必要に応じてテキストを省略 -->
    </div>
    <div class="flex-1 min-w-0" style="padding-rite: 6px;"> <!-- 幅の指定を削除し、flex-1を追加 -->
      <p class="text-2xl font-semibold truncate">説明</p> <!-- 必要に応じてテキストを省略 -->
    </div>
  </div>
</div>







