<turbo-frame id="info_area">
  <div class="container mx-auto">
    <div class="content bg-white text-gray-800 p-5 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold tracking-wider text-black">説明</h2>
      <p class="mb-4 text-sm text-gray-900">このアプリは子どもの頃を思い出すために、昔のゲームや子供の時に欲しかったものをどんどん登録するアプリです！みなさんに登録していただけると嬉しいです。</p>
      <p class="mb-4 text-sm text-gray-900">使い方は簡単です。検索バーでアイテムを検索し、見つかったものを登録します。何かを思い出したら、気軽に登録または下のリンクから購入してください。一覧から確認も可能です。</p>
      <% if @some_data.present? %>
        <p class="font-mono text-blue-700">データ: <%= @some_data %></p>
      <% else %>
        <p class="font-mono text-red-500">表示するデータがありません。</p>
      <% end %>
    </div>
  </div>
</turbo-frame>
