<% if @items.present? %>
  <div class="flex flex-wrap -mx-2">
    <% @items.each do |item| %>
      <div class="p-2 w-1/5">
        <div class="box border p-4 rounded-lg shadow-lg">
          <p class="text-sm font-semibold">¥<%= number_with_delimiter(item[:price]) %></p> <!-- テキストサイズを小さくする -->
          <a href="<%= item[:url] %>" target="_blank" class="text-blue-500 hover:text-blue-600 transition duration-300 text-sm">楽天市場へ!!</a> <!-- リンクのテキストサイズも小さくする -->
          <img src="<%= item[:image_url] %>" alt="<%= item[:name] %>" class="w-24 h-24 object-cover mt-2"> <!-- 画像サイズを制御し、object-coverを使用 -->
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center text-gray-500">検索結果が見つかりませんでした。</p>
<% end %>
