<div class="container">
  <div class="columns">
    <div class="column is-half">
      <div class="notification is-primary">
        <p>Hello, this is a sample view with Bulma!</p>
        <%= link_to 'Click me', '#', class: 'button is-light' %>
      </div>
    </div>
  </div>