<div class="container">
  <div class="columns">
    <div class="column is-half">
      <div class="notification is-primary">
        <p>ボタン押せますか？？</p>
        <%= button_to 'ボタン押してね', add_button_path, method: :post, data: { turbo_frame: "buttons" }, class: 'button is-light' %>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag "buttons" do %>
    <!-- ここに新しいボタンが追加される -->
  <% end %>
</div>