<div class="container">
  <div class="columns">
    <div class="column is-half">
      <div class="notification is-primary">
      <%= render 'top/items', items: @items %>
      <%= render 'top/from_rakuten' %>
      <%= render 'top/button_controls' %>
      <%= link_to 'ランダム検索', items_random_search_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
